[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "*"
pytest = "*"
mock = "*"
pytest-cov = "*"
pipenv = "*"
wheel = "*"
twine = "*"
# sphinx, twine vulnerables
urllib3 = ">=1.24.2"

[packages]
pyyaml = "*"
debtcollector = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
